# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Unrelated files in Amber's repo
Eta_Earth_Part1.ipynb
Eta_Earth_Part2.ipynb
Eta_Earth_Part3.ipynb
Mp_a_Analysis.ipynb
rotac_eta_earth_LARGE.occ_data
*.png
last_commit_diff.log